html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#camera,
#camera--view,
#camera--sensor,
#camera--output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view,
#camera--sensor,
#camera--output {
    transform: scaleX(-1);
    filter: FlipH;
}

#camera--toggle, #camera--trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
    font-size: 2rem;
}

#camera--buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    border: none;
    text-align: center;
    position: fixed;
    bottom: 30px;
}

.taken {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}